.svg-404-dims {
	width: 586.9px;
	height: 255.86px;
}

.svg-arrow-b-dims {
	width: 487px;
	height: 487px;
}

.svg-arrow-light-dims {
	width: 477.18px;
	height: 477.18px;
}

.svg-check-square-dims {
	width: 249.43px;
	height: 249.43px;
}

.svg-check-thin-dims {
	width: 512px;
	height: 512px;
}

.svg-clock-stroke-dims {
	width: 24px;
	height: 24px;
}

.svg-close-dims {
	width: 512px;
	height: 512px;
}

.svg-controls-dims {
	width: 56.8px;
	height: 56px;
}

.svg-hourglass-dims {
	width: 60px;
	height: 60px;
}

.svg-invoice-dims {
	width: 512px;
	height: 512px;
}

.svg-like-dims {
	width: 512px;
	height: 512px;
}

.svg-locations-dims {
	width: 508px;
	height: 508px;
}

.svg-mail-envelope-dims {
	width: 485.41px;
	height: 485.41px;
}

.svg-map-pin-dims {
	width: 50px;
	height: 58px;
}

.svg-medal-dims {
	width: 508px;
	height: 508px;
}

.svg-operator-dims {
	width: 486px;
	height: 486px;
}

.svg-percentage-dims {
	width: 453.97px;
	height: 453.97px;
}

.svg-phone-thin-dims {
	width: 482.6px;
	height: 482.6px;
}

.svg-piggy-bank-dims {
	width: 512px;
	height: 512px;
}

.svg-question-mark-dims {
	width: 92px;
	height: 92px;
}

.svg-repair-dims {
	width: 512px;
	height: 512px;
}

.svg-search-dims {
	width: 586.1px;
	height: 586.2px;
}

.svg-stopwatch-dims {
	width: 60px;
	height: 60px;
}

.svg-truck-dims {
	width: 470px;
	height: 470px;
}

.svg-update-dims {
	width: 512px;
	height: 512px;
}

